 <section id="register-form" class="section-mg section-pd">
        <h3>Complete Your Registration</h3>
        <form action="/signup/complete" enctype="multipart/form-data" method="post">
        
                <input type="text" name="country"  placeholder="Country" required>
                <input type="text" name="city"  placeholder="City" required>
                <input type="text" name="companyName"  placeholder="Company Name" required>
                <input type="text" name="tradeType"  placeholder="Type Of Trade" required>
                <button type="submit" class="btn">Complete Registration</button>
        </form>
   </section>