
<main id="index-page-main">
    <h1>Node Js Backend Demo Endpoint!!!</h1>
    <article>
        <section class="top-section">
            <aside>
                <h2>User Authentication & Authorization</h2>
                <p>This is a user login system demo project. This backend demo enpoint was built using Node Js, Express Js, ExpressHandle Bars, JsonWebToken, Bcrypt, Cookie-Parser and passport</p>
            </aside>
        </section>
        
        <section class="down-section">
            <aside>
                <h2>Endpoint section</h2>
                <p>{{message.msg}}</p>
                <button><a href="{{message.docsLink}}">API DOCS</a></button>
            </aside>
        </section>
    </article>
</main>

