    <section id="login-form" class="section-mg section-pd">
        <h3>ADD NEW PASSWORD</h3>
        <form action="/password/new" method="post">
            
            <input type="password" name="newPassword" class="showPassword" required placeholder="Enter your new Password">
            <input type="password" name="confirmedNewPassword" class="showPassword" required placeholder="confirm Your new password">
            <h6 id="show-password" style="cursor:pointer;"><i class="fa fa-user-plus" aria-hidden="true"></i><span style="text-transform:lowercase; color:#fff; ">Show Password / Hide password</span></h6>
            <button type="submit" class="btn">Update</button>
        </form>
    </section>
    
