<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login system </title>
    <link rel="stylesheet" href="/css/styles.css">
   
</head>
<body>
    <section id="header">
        
    </section>

   <section id="register-form" class="section-mg section-pd">
        <h3>REGISTER HERE</h3>
        <form action="/register" enctype="multipart/form-data" method="post">
            
                <input type="text" name="firstname" id="firstname" placeholder="First Name" required>
                <input type="text" name="lastname" id="lastname" placeholder="Last Name" required>
                <input type="text" name="username" id="username" placeholder="UserName" required>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <input type="file" name="photo" id="photo" placeholder="your profile picture" required>
                <button type="submit" class="btn">Register</button>
        </form>
         <p>Already have an accout?: <a href="/login">click here to login</a></p>
   </section>
    


    <script src="/js/scripts.js"></script>
</body>
</html>