<section id="login-form" class="section-mg section-pd">
        <h3>VERIFY YOUR EMAIL (otp sent to your email)</h3>

        <form action="/verify-otp" method="post">
            
            <input type="text" name="otpToken" id="verify-otp" required placeholder="Enter the OTP digit">
            <button type="submit" class="btn">Send</button>
        </form>
</section>