:root{
    --text-color-white: #fff;
    --text-color-black: #000;
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 14px;
    --font-size-desktop: 26px;
    --font-size-ipad: 22px;
    --font-size-phone: 17px;
    --btn-padding: 16px 32px;
    --btn-width: 220px;
    --btn-border-radius: 20px;
    --transition: 1.2s ease ;
    --transition-two: 0.3s ease-in-out;
    --chinese-bg-color: #141412;
    --cetacean-blue-bg-color: #0F0D35;
    --ripo-mango-bg-color: #FDC128;
    --xanadu-bg-color: #728A7C;
    --deep-pink-bg-color: #F52D3A;
    --charleston-green-bg-color: #252A36;
    --coral-reef-bg-color: #F37F64;
    --jungle-green-bg-color: #05564B;
    --tulip-bg-color: #FF8787;
    --Languid-bg-color: #D0D1E1;
    --BRIGHT-GREY-bg-color: #EBECEF;
    --diamond-bg-color: #B7E3FF;
    --SAPPHIRE-bg-color: #0856CF;
    --bgColor: #b3005E;
    --bgColor2: #060047;
    --bgColorBody: #1f1f1f;
    --btn-color: #7366e6;
    --btn-hover-color: #140979;
    --textColor1:#060047;
    --textColor2:#eaddcd;
    --link-color:#fff;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--diamond-bg-color);
}


a{
    color: var(--textColor2);
}
a:active{
    color: var(--bgColor);
}

.btn{
    width: 220px;
    padding: var(--btn-padding);
    color: #fff;
    background-color: var(--charleston-green-bg-color);
    border-radius: 12px;
    margin-top: 18px;
    border: none;
    transition: var(--transition-two);
    cursor: pointer;
}
.btn:hover{
    opacity: 0.4;
}

.section-pd{
    padding: 0 20px;
}

/* NAV BAR STYLES */

#navbar{
    width: 95%;
    height: 70px;
    padding: 0 30px;
    background-color:var(--chinese-bg-color);
    box-shadow: 0 0 28px;
    border-radius: 13px;
    position:fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
#navbar .fa-plane{
    color: var(--diamond-bg-color);
    font-size: 1.2rem;
    padding-right: 0.4rem;
}
#navbar .nav-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
#navbar .nav-menu li{
    list-style: none;
    margin-left: 25px;
}
#navbar .nav-menu li i{
   padding: 0 5px;
}
#navbar .nav-menu .menu-exit-wrapper{
    margin-left: 30px;
    display: none;
}
#navbar .nav-menu .menu-exit-wrapper .fa-times{
    margin: 10px;
   font-size: 3rem;
}
#navbar .hamburger{
    display: none;
}
#navbar .hamburger .fa.fa-bars{
    font-size: 3rem;
}



#navbar a{
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition-two);
}

#navbar a:hover{
    color: var(--diamond-bg-color);
}

#navbar a:active{
    color: var(--diamond-bg-color);
}


/* HOME PAGE-STYLES */
#index-page-main{
    width: 100%;
    height: 100vh; 
    padding-top: 40px;
    margin-top: 80px;
}
#index-page-main>h1{
    width: 100%;
    margin-top: 27px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    color: var(--charleston-green-bg-color);
}

#index-page-main>article{
    width: 100%;
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
#index-page-main>article :is(.top-section, .down-section){
   flex: 1 1 50%;
   height: 400px;
   border-radius: 14px;
   border: 3px solid var(--chinese-bg-color);

}
#index-page-main>article :is(.top-section, .down-section) aside{
   width: 75%;
   height: 100%;
   padding: 20px;
   margin: 0 auto;
}

.top-section>aside{
    color: var(--chinese-bg-color);
}
.top-section>aside :is(h2, p){
    margin-bottom: 18px;
}
.top-section>aside :is(h2){
    font-size: 28px;
}
.top-section>aside :is(p){
    font-size: 22px;
   
}
.down-section>aside{
    color: var(--chinese-bg-color);
}
.down-section>aside :is(h2, p){
    margin-bottom: 18px;
}
.down-section>aside :is(h2){
    font-size: 28px;
}
.down-section>aside :is(p){
    font-size: 1.4rem;
    line-height: 1.2em;
}

.down-section>aside :is(button){
    width: 220px;
    height: 50px;
    background-color: var(--charleston-green-bg-color);
    border-radius: 12px;
    border: none;
    transition: 1.7s;
    cursor: pointer;
}
.down-section>aside :is(button) a{
   color: #fff;
}
.down-section>aside :is(button):hover{
    opacity: 0.6;
}



/* login page styles */
#login-form{
    width: 100%;
    height: 100vh;
    margin-top: 80px;
}
#login-form h3,#login-form h4{
    padding-bottom: 10px;
    padding-top: 40px;
    color: var(--chinese-bg-color);
}
#login-form h3,#login-form h4{
    text-align: center;
    margin: 8px auto;

}
#login-form p>a{
    color: var(--chinese-bg-color);
    margin-top: 40px;
}
#login-form p{
    text-align: center;
    color: var(--chinese-bg-color);
    margin-top: 10px;
    /* margin-bottom: 40px; */
}
#login-form form{
    width: 400px;
    max-width: 400px;
    height: 420px;
    padding:20px 0;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-color:var(--Languid-bg-color);
    box-shadow: 0 0 28px;
}
#login-form form input{
    width: 350px;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 13px;
    text-align: center;
    font-size: 0.9em;
}
#login-form form .btn-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login-form form .inputs-wrap{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
/* #login-form form button{
    background-color: #1BBD32;
    width: 210px;
    margin-top: 18px;
}
#login-form form button:hover{
    background-color: #E5FDCE;
    color: #000;
   
} */

/* register page styles */

#register-form{
    width: 100%;
    height: 100vh;
    margin-top: 80px;
}
#register-form h3{
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 40px;
    color: var(--chinese-bg-color);
}
#register-form p{
    text-align: center;
    color: var(--chinese-bg-color);
    margin-top: 10px;
    /* margin-bottom: 40px; */
    /* padding-bottom: 40px; */
}
#register-form p>a{
    color:var(--chinese-bg-color);
    margin-top: 40px;
}
#register-form form{
    width: 400px;
    max-width: 400px;
    height: 420px;
    padding:20px 0;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color:var(--Languid-bg-color);
    box-shadow: 0 0 28px;
}
#register-form form input{
    width: 350px;
    height: 50px;
    margin-bottom: 7px;
    border-radius: 13px;
    text-align: center;
    font-size: 0.9em;
}
/* #register-form form button{
    background-color: #1BBD32;
    width: 210px;
    margin-top: 10px;
}
#register-form form button:hover{
    background-color: #E5FDCE;
    color: #000;
} */


/* USER-PROFILE-STYLES */

#profile-main{
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    padding: auto 30px;

}

.profile-section{
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.profile-section :is(.user-profile-image-wrapper, .user-profile-details){
    flex: 1 1 90%;
    background-color: var(--charleston-green-bg-color);
}
.user-profile-image-wrapper{
    width: 45px;
    aspect-ratio: 1/1;
    padding: 100px;
    border-radius: 100%;
}
.user-profile-details{
    width: 700px;
    height: 600px;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-details :is(.user-names, .user-address, .user-contact, .user-trade-type){
    height: 55px;
    width: 80%;
    margin-bottom: 10px;
    border: 2px solid var(--charleston-green-bg-color);
    border-radius: 14px;
    background-color: var(--Languid-bg-color);
    transition: var(--transition-two);
}
.user-names{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.user-address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.user-profile-details :is(.user-names, .user-address, .user-contact, .user-trade-type):hover{
    border: 2px solid var(--charleston-green-bg-color);
    border-radius: 14px;
    background-color: var(--Languid-bg-color);
}
.user-profile-details>p a{
    color: var(--BRIGHT-GREY-bg-color);
}
.user-profile-details :is(.user-names, .user-address, .user-contact, .user-trade-type) p{
    color: var(--chinese-bg-color);
    width: 100%;
    text-align: center;
    margin: 17px auto;
    padding: auto 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    box-sizing: border-box;

    
}

p :is(span){
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 400;
}





@media screen and (max-width:520px) {
    #index-page-main>article{
        flex-direction: column;
        padding: 20px;
    
    }

    #index-page-main>article :is(.top-section, .down-section){
        flex: 1 1 100%;
        height: 400px;
     
     }
     #index-page-main>article :is(.top-section, .down-section) aside{
        width: 100%;
        height: 100%;
        padding: 20px;
        margin: 0 auto;
     }
     
    
     .top-section>aside :is(h2, p){
         margin-bottom: 18px;
     }
     .top-section>aside :is(h2){
         font-size: 28px;
     }
     /* .top-section>aside :is(p){
         font-size: 1.4rem;
         line-height: 1.9em;
     } */
    
     .down-section>aside :is(h2, p){
         margin-bottom: 18px;
     }
     .down-section>aside :is(h2){
         font-size: 28px;
     }
     .down-section>aside :is(p){
         font-size: 1.4rem;
         line-height: 1.5em;
     }
     

     .user-profile-details{
        width: 97%;
        height: 500px;
        padding: 7px;
    }
    .user-profile-details :is(.user-names, .user-address, .user-contact, .user-trade-type){
        width: 100%;
    }
    .user-profile-details :is(.user-names, .user-address, .user-contact, .user-trade-type) p{
       
        padding: auto 5px;
        gap: 4px;
        box-sizing: border-box;
    
        
    }
    
    p :is(span){
        font-size: 13px;
        font-weight: 300;
    }
    

     /* login and register styles  */
     #login-form form,#register-form form{
        width: 100%;
        margin: 0;
        padding: 40px 15px;
    }
    #register-form form input, #login-form form input{
        width: 100%;
    }
    
}

@media (max-width:680px){

    #index-page-main>article{
        flex-direction: column;
        padding: 20px;
    
    }

    #index-page-main>article :is(.top-section, .down-section){
        flex: 1 1 100%;
        height: 400px;
     
     }
     #index-page-main>article :is(.top-section, .down-section) aside{
        width: 100%;
        height: 100%;
        padding: 20px;
        margin: 0 auto;
     }
     


    #navbar .hamburger{
        display: block;
    }
   
    #navbar .nav-menu li{
        list-style: none;
        margin-left: 25px;
        font-size: 20px;
    }
   
    #navbar .nav-menu li a{
        color: var(--bgColor2);
    }
    #navbar .nav-menu .menu-exit-wrapper{
        display: block;
    }

    .nav-menu{
        background-color: var(--charleston-green-bg-color);
        position:fixed;
        top: 0;
        left:0;
        width:100%;
        height: 400px;
        transform: translateY(-120%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        padding: 35px 0 0;
        border-radius: 16px;
    }
    .showNavMenu{
        transform: translateY(0);
        transition-duration: 0.4s;
    }
}


@media (max-width:799px){

    #index-page-main>article{
        padding: 20px;
        width: 100%;
    }

     #index-page-main>article :is(.top-section, .down-section) aside{
        width: 100%;
        height: 100%;
        padding: 20px;
        margin: 0 auto;
     }
     
     .top-section>aside :is(h2, p){
         margin-bottom: 18px;
     }
     .top-section>aside :is(h2){
         font-size: 28px;
     }
     /* .top-section>aside :is(p){
         font-size: 1.4rem;
         line-height: 0.8em;
     } */
    



    #navbar .nav-menu li{
        list-style: none;
        margin-left: 25px;
        font-size: 22px;
    }
    #navbar .nav-menu li a{
        color: var(--bgColor2);
        font-size: 1.5rem;
    }
    .nav-menu{
        background-color: var(--charleston-green-bg-color);
        position:fixed;
        top: 0;
        left:0;
        width:100%;
        height: 400px;
        transform: translateY(-120%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        padding: 35px 0 0;
        border-radius: 16px;
    }
    #navbar .nav-menu .menu-exit-wrapper{
        display: block;
    }
    #navbar .hamburger{
        display: block;
    }
    .showNavMenu{
        transform: translateY(0);
        transition-duration: 0.4s;
    }
}

@media (max-width:990px){
    #index-page-main>article{
        padding: 20px;
        width: 100%;
    }

     #index-page-main>article :is(.top-section, .down-section) aside{
        width: 100%;
        height: 100%;
        padding: 20px;
        margin: 0 auto;
     }
}